%ul.breadcrumb
  %li
    %a{:href => "#"} Home
    %span.divider /
  %li
    %a{:href => "#"} Library
    %span.divider /
  %li.active Data

%table.table.table-stripped
  %tr
    %th Work
    %th Created by
    %th Assigned to
    %th Deadline
    %th Status
    %td Action
  %tr
    %td Create Work Manager
    %td Karthikeyan A K
    %td Karthikeyan A K
    %td= Time.now + 1.month
    %td
      %span.label.label-inverse Completed
    %td
  %tr
    %td Create Work Manager
    %td Karthikeyan A K
    %td Karthikeyan A K
    %td= Time.now + 1.month
    %td
      %span.label.label-success Progressing
    %td
  %tr
    %td Create Work Manager
    %td Karthikeyan A K
    %td Karthikeyan A K
    %td= Time.now + 1.month
    %td
      %span.label.label-important Failed
    %td
  %tr
    %td Create Work Manager
    %td Karthikeyan A K
    %td Karthikeyan A K
    %td= Time.now + 1.month
    %td
      %span.label.label-warning Stopped
    %td
